footer.footer
	.footer__top
		.col-4
			.footer__text 
				p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
		.col-4
			nav.footer__menu
				ul.footer__menu-list
					li
						a(href="/works.html" target="_blank") Мои работы
					li
						a(href="#" target="_blank") Обо мне
					li
						a(href="#" target="_blank") Блог
					li
						a(href="#" target="_blank") Авторизация
			+social
		.col-4
			.footer__quote
				p.footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
				p.footer__quote-author &mdash; Martin Golding
	.footer__bottom
		p &copy; Аня Илюшенко | создано с любовью в LoftSchool | 2016