header.header
	.container
		.header__top
			.header__top-social
				+social
			nav.header__top-mnu
				+icon("hamburger")
	section.header__body
		+icon("portfolio_header")
		include ../parts/_person
			+icon("portf_arrow_down")