header.header
	.container
		.header__top
			.header__top-social
				+social
			include ../parts/_menu
	section.header__body
		+icon("portfolio_header")
		include ../parts/_person
	.header__body-arrow
		a(href="#")
			+icon("portf_arrow_down")