.mnu
	button.mnu__toggle
		span.mnu__toggle-hamburger
			span.mnu__toggle-topper
			span.mnu__toggle-bottom
			span.mnu__toggle-footer
	nav.mnu__top
		ul
			li
				a(href="/works.html") Мои работы
		ul
			li
				a(href="/about.html") Обо мне
		ul
			li
				a(href="/blog.html") Блог
		ul
			li
				a(href="/index.html") Авторизация