.header__welcome {
	background-color: $main-dark;
}

.header__welcome-btn {
	margin: 25px 100px;
	display: block;
	float: right;
}

.header__welcome-btn {
	padding: 15px 30px;
	background-color: rgba(255,255,255,.0);
	border: 1px solid #fff;
	border-radius: 30px;
	cursor: pointer;
}

.header__welcome-btn:hover {
	background-color: $btn-dark;
	border: #7ea62e 1px solid;
}