@import 'common/index/main-welcome';
@import 'common/common';

.wrapper__login {
	width: 20%;
	display: inline-block;
	background-color: rgba(18,38,32,.6);
	margin: 250px;
	padding: 0;
}

.login__menu-item {
	background-color: $btn;
	margin: 0;
	padding: 0;

}

.login__menu-item li {
	display: inline-block;
	padding: 17px 50px;
	text-align: center;
	margin: 0;
	border-left: 2px solid #a0b99e;
	cursor: pointer;
}

.login__menu-item li:hover {
	background-color: $btn-dark;
}

.login__menu-item li:first-child {
	border-left: none;
}

.login__form
	h2:after {
		content: '';
		display: block;
		border-bottom: 3px solid #fff;
		width: 90px;
		height: 11px;
		position: absolute;
		top: 470px;
		left: 1355px;
	}

.login__input-wrap {
	margin-top: 50px;
}

.login__input-wrap label {
	display: block;
	margin: 20px;
}

.login__input-wrap input {
	padding: 15px 80px;
	border-radius: 30px;
	border: 0 none;
	outline: none;
}

.login__checkbox-wrap input[type="checkbox"] {
	display: none;
}

.login__checkbox-wrap input[type="checkbox"] + label span {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
}