@import 'common/common';

.main__welcome {
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: top center;
	min-height: 700px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	
}

.main__welcome-bg {
	background: linear-gradient(to bottom, rgba(#000,.4) 0%, rgba(#fff,0) 30%);
}

.wrapper__welcome {
	width: 20%;
	display: inline-block;
	background-color: rgba(18,38,32,.6);
	margin: 250px;
	padding: 0;
}

.welcome__img {
	background-image: url(../img/avatar.jpg);
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 145px;
	background-position: center;
}


.welcome__img-wrap {
	padding: 40px 120px 0;
}

.welcome__text-wrap
	p {
		color: #fff;
		opacity: .8;
		line-height: 0;
	}


//social

.welcome__social-wrap
	ul {
	padding: 0;
}

.welcome__social-item li {
	display: inline-block;
	max-width:40px;
	margin: 20px 10px;
	padding: 10px;
}

.welcome__social-wrap a {
	color: #fff;
	opacity: .5;
}

.welcome__social-wrap a:hover {
	color: $btn;
}


// mnu

.welcome__menu-wrap {
	margin: 0;
}

.nav-welcome {
	background-color: $btn;
	overflow: hidden;
}

.welcome__menu-item {
	margin: 0;
	padding: 0;
}

.welcome__menu-item li {
	display: inline-block;
	padding: 17px 40px;
	text-align: center;
	border-left: 2px solid #a0b99e;
	cursor: pointer;
}

.welcome__menu-item li:hover {
	background-color: $btn-dark;

}

.welcome__menu-item li:first-child {
	border-left: none;
}