@import 'common/index/main-welcome';
@import 'common/common';

.wrapper__autorize-container {
	width: 380px;
	display: inline-block;
	background-color: rgba(18,38,32,.6);
	margin: 250px;
	padding: 0;
}

.autorize__menu-item {
	background-color: $btn;
	margin: 0;
	padding: 0;

}

.autorize__menu-item li {
	display: inline-block;
	padding: 17px 50px;
	text-align: center;
	margin: 0;
	border-left: 2px solid #a0b99e;
	cursor: pointer;
}

.autorize__menu-item li:hover {
	background-color: $btn-dark;
}

.autorize__menu-item li:first-child {
	border-left: none;
}