.welcome {
	background: url("../img/bg.jpg") no-repeat center center;
	background-size: cover;
	margin-bottom: -100px;
	min-height: 800px;
}

.welcome__nav {
	display: flex;
	justify-content: flex-end;

	&-login {
		margin: 25px 100px;
		padding: 15px 30px;
		background-color: rgba(255,255,255,.0);
		border: 1px solid #fff;
		border-radius: 30px;
		cursor: pointer;

		&:hover {
			background-color: $btn-dark;
			border: #7ea62e 1px solid;
		}
	}
}

.welcome__section {
	display: flex;
	align-items: center;
	justify-content: center;

	&-wrap {
		width: 380px;
		background-color: rgba(18,38,32,.6);
		margin: 150px 100px 0;
		padding: 0;
	}
}

