.blog {
	position: relative;
	display: block;
	margin-top: 0;
	padding-top: 20px;
	background-color: #F8F9F5;

	&__wrap {
		max-width: 1800px;
		margin: 0 auto;
		min-height: 650px;
	}

	&__left {
		width: 30%;
		padding: 0 20px;
		float: left;

		&-nav {
			text-align: right
			;

			li {
				display: inline-block;
				padding-top: 10px;
				height: 40px;

				a {
					display: block;
					padding-right: 15px;
					color: #566358;

					&:active {
						border-right: 3px solid #6c9c5a;
						color: #6c9c5a;
						font-family: "RobotoBold", sans-serif;
					}
				}
			}
		}
	}
}