.footer {
	height: 187px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;

	&__top {
		background-color: rgba(#373e42,.85);
	}

	&__text {
		width: 350px;
		p {
			font-family: "RobotoLight", sans-serif;
			line-height: 1.6;
		}
	}

	&__menu {
		width: 500px;


		&-list {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__quote {
		width: 500px;

		&-text {
			font-family: "RobotoLight", sans-serif;
			opacity: .5;
			font-style: italic;
			line-height: 1.6;
		}

		&-author {
			font-family: "RobotoLight", sans-serif;
			opacity: .5;
			font-style: italic;
			font-weight: bold;
		}
	}

	&__bottom {
		height: 40px;
		background-color: rgba(#6c9c5a,.85);

		p {
			font-family: "RobotoLight", sans-serif;
			line-height: 0.4;
			text-align: center;

		}
	}
}

.col-md-4 {
	width: 32%;
	margin: 30px;
	padding: 0;
}

.container {
	max-width: 1800px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
