mixin social
	ul.social__list
		li
			a.social__link.social__link--login(href="https://vk.com/ann.iluy")
				+icon("vk", "svg--social")
			a.social__link.social__link--login(href="https://github.com/anyanyani")
				+icon("github","svg--social")
			a.social__link.social__link--login(href="https://www.linkedin.com/in/illushn")
				+icon("in", "svg--social")