extends ../_template
include ../mixins

block variables
	- var title = 'Аня Илюшенко'

block content
	header.header__welcome.container
		button.header__welcome-btn
			a(href="#" target="_blank") Авторизация

	section.main__welcome.container
		.wrapper__welcome-container
			.welcome__img-wrap
				.welcome__img
			.welcome__text-wrap
				h1 Илюшенко Анна
				p Личный сайт веб разработчика
			.welcome__social-wrap
				ul.welcome__social-item
					li.welcome__social-vk
						a(href="#" target="_blank") Vk
					li.welcome__social-git
						a(href="#" target="_blank") Git
					li.welcome__social-in
						a(href="#" target="_blank") Ln
			.welcome__menu-wrap
				ul.welcome__menu-item
					li.welcome__menu-works
						a(href="#" target="_blank") Мои работы
					li.welcome__menu-about
						a(href="#" target="_blank") Обо мне
					li.welcome__menu-blog
						a(href="#" target="_blank") Блог

	footer.footer.container
		.footer__copyright &copy; Аня Илюшенко | создано с любовью в LoftSchool | 2016

