extends ../_template
include ../mixins/_svg
include ../mixins/_inputs
include ../mixins/_social

block variables
	- var title = 'Аня Илюшенко'

block content
	section.welcome
		nav.welcome__nav
			.welcome__nav-login#myCard
				a.welcome__nav-btn Авторизоваться
		.welcome__section.flip-container#flip-toggle
			.flipper
				.welcome__section-wrap.front
					include ../parts/_person
					+social
					nav.welcome__btn
						ul.welcome__btn-list
							li
								a(href="/works.html") Мои работы
							li
								a(href="/about.html") Обо мне
							li
								a(href="/blog.html") Блог
				.welcome__section-wrap.back
					form.login
						h2 Авторизация
						.login__input
							+input("text", "logged", "Логин", "login")
						.login__input
							+input("password", "password", "Пароль", "password")
						.login__checkbox
							+checkbox("human", "checkbox", "I am a human", "Я человек","check")
						.login__radio
							p Вы точно не робот?
							+radio("robot", "approved" , "Yes", "Да" )
							+radio("robot", "robot" , "No", "Не уверен" )
					nav.welcome__btn
						ul.welcome__btn-list
							li.welcome__btn-item
								a#back На главную
							li.welcome__btn-item
								a(href="#") Войти
	footer.footer-welcome
		.footer__copyright &copy; Аня Илюшенко | создано с любовью в LoftSchool | 2016
	.preloader
		.preloader__spinner
			.preloader__animation
			.preloader__percents 0%

