extends ../_template
include ../mixins/_svg
include ../mixins/_social

block variables
	- var title = 'Мои работы'

block content
	include ../parts/_header
	section.works
		.works__head
			h2.works__head-title Мои работы
		.works__slider
			.works__slider-description
				h3 Сайт школы онлайн образования
				p Html, css, Javascript
				button.works__slider-btn
					a(href="#" target="_blank") 
						+icon("link")
						span Посмотреть сайт
			.works__slider-display
				ul.works__slider-list
					li.works__slider-item
						a.works__slider-link
							img.works__slider-img(src="/assets/img/work-1.png")
					li.works__slider-item
						a.works__slider-link
							img.works__slider-img(src="/assets/img/work-2.png")
					li.works__slider-item
						a.works__slider-link
							img.works__slider-img(src="/assets/img/work-3.png")
					li.works__slider-item
						a.works__slider-link
							img.works__slider-img(src="/assets/img/work-4.png")
			.works__slider-controls
				a(href="#").slider-controls-top следующая
		.works__report
			.works__report__head
				h2.works__report__head-title Что обо мне говорят
			.works__report__content
				.works__report__content-wrap
					.works__report__content-img
						img(src="/assets/img/Koval_about.png")
					p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
					span Ковальчук Дмитрий
						p &mdash; основатель Loftschool
				.works__report__content-wrap
					.works__report__content-img
						img(src="/assets/img/Zar_about.png")
					p Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
					span Зар Захаров 
						p &mdash; преподаватель
			form.works__report__form
				h3 Связаться со мной
				.works__report__form-input
					label
						input(type="text", id="name", placeholder="Имя")
				.works__report__form-input
					label
						input(type="e-mail", id="email", placeholder="E-mail")
				.works__report__form-input
					label
						textarea(type="textarea", id="textarea", placeholder="Ваше сообщение")
				.works__report__form-btn
					button.btn Отправить
					button.btn Очистить
			+icon("portf_arrow_up")



	include ../parts/_footer

